My workflow 7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "05c06343-2929-494f-8905-deb2a4fa836e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wbJp25avpxNvjPnQzyZ2HuLVqTqLpJq3J2fHysXjnn8",
          "mode": "list",
          "cachedResultName": "customer_records_with_due_date",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbJp25avpxNvjPnQzyZ2HuLVqTqLpJq3J2fHysXjnn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 281044000,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wbJp25avpxNvjPnQzyZ2HuLVqTqLpJq3J2fHysXjnn8/edit#gid=281044000"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "df5b0298-25ce-453e-904c-3946fab03ad7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h6WtWBXOw9MoE6sf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de9e0553-cdbf-462c-8d3d-be342cddd96b",
              "leftValue": "={{ $json['Payment Status'] }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "8ce17a84-3699-4d26-9ebf-6d4125b4647d",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Customer Email'] }}",
        "subject": "Your Invoice is Due",
        "message": "=Hi  {{ $json['Customer Name'] }},\nYour Invoice is Due Date {{ $json['Due Date'] }},\nRegard \nCustomer Service \nAamir Patni\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        -96
      ],
      "id": "ef9c4706-b486-4561-91fc-257f64763456",
      "name": "Send a message",
      "webhookId": "2ce56f5a-8c96-4113-928d-fb3d350e758b",
      "credentials": {
        "gmailOAuth2": {
          "id": "78SMMPOXvqI3RBeo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Customer Email'] }}",
        "subject": "Over Due Payment",
        "message": "=hi  {{ $json['Customer Name'] }},\nyour invoice is past due date {{ $json['Due Date'] }},\nplease pay as soon as possible\n\nRegard \nAamir Patni",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        64
      ],
      "id": "be937bf7-3295-4a45-808c-7a77bd7bfdc4",
      "name": "Send a message1",
      "webhookId": "8fdaf640-8b41-4650-8df9-9bc7991618cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "78SMMPOXvqI3RBeo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Payment Status'] }}",
                    "rightValue": "Unpaid",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00c75e31-0233-4766-8f12-dd22452ff701"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50f64804-1523-445a-a1bb-cc6d5f6e0d51",
                    "leftValue": "={{ $json['Payment Status'] }}",
                    "rightValue": "Overdue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        0
      ],
      "id": "5db6f5f5-4296-495f-ad05-94522c55f78b",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "388d37fa-0276-4b4c-8843-39c3a81f122b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d920fdb7e42fc85318d953e8f3ccd63c0e10b8350e458313142c6a476a504afc"
  },
  "id": "6RXCZx0AF499sbla",
  "tags": []
}